# Hapus tanda pagar terlebih dahulu, kemudian masukkan host, user, password, dan nama databasenya sesuai dengan punya kamu 
#DB_HOST = localhost
#DB_USER = root
#DB_PASSWORD = masukkan_password_anda_di_sini
#DB_NAME = masukkan_nama_database_di_sini